<h1>Facts About Cats</h1>


<% @trivia.each do |trivium| %>
  <div>
    <h2>Fact No.<%= trivium.id %></h2>
    <h3><%= trivium.title %></h3>
    <p><%= trivium.fact %></p>
    <%= trivium.image_url %>
    <span>Level <%= trivium.difficulty %> difficulty</span>

  <div>
    <span><%= link_to 'Show', trivium %><br/>
    <%= link_to 'Edit', edit_trivium_path(trivium) %><br />
    <%= link_to 'Destroy', trivium, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
  </div>
<% end %>


<br />
<div>
<h3>Add a new Cat Fact</h3>
<%= link_to 'New Fact about Cats', new_trivium_path %>
</div>