<p id="notice"><%= notice %></p>
<div>
  <h2>Fact No.<%= @trivium.id %></h2>
  <h3><%= @trivium.title %></h3>
  <p><%= @trivium.fact %></p>
  <%= @trivium.image_url %>
  <span>Level <%= @trivium.difficulty %> difficulty</span>


</div>


<%= link_to 'Edit', edit_trivium_path(@trivium) %> |
<%= link_to 'Back', trivia_path %>


