<p id="notice"><%= notice %></p>

<div class="cat_class">
  <h2><%= @cat.name %></h2>
  <%=image_tag (@cat.image_url) %>
  <ul>
    <li><%= @cat.age %> years old</li>
    <li><%= @cat.color %> coloured cat</li>
  </ul>
  <div class="cat_description">
    <%= @cat.description %>
  </div>

</div>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
<div>